@import "./base16/gruvbox-dark-medium.scss";
@import "./badges.scss";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: $base01;
}

* {
  color: $base05;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5em;
  font-family: "Rubrik", sans-serif;
}

header {
  display: flex;
}

header a, header a:hover{
  text-decoration: none;
}

nav {
  display: flex;
  margin-left: auto;
}

nav li {
  align-self: center;
  list-style-type: none;
  padding-left: 10px;
}

nav a.previous-page {
  margin-left: auto;
}

nav a.next-page {
  margin-right: auto;
}

nav.page-nav {
  margin: none;
}

h1.site_name, h1.nav_button {
  margin: 7px 0px 0px 0px;
  color: $base0E;
  transition: color 0.2s ease;
}

h1.site_name:hover, h1.nav_button:hover {
  color: $base0D;
}

body {
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px 10px 0px;
  color: $base06;
}

a.zola-anchor {
  margin-right: 0em;
  position: relative;
  right: 1em;
  color: $base06;
  text-decoration: none;
}

a.zola-anchor:hover {
  color: inherit;
  text-decoration: inherit;
}

a.zola-anchor::before {
  content: "# ";
  position: relative;
  color: transparent;
  transition: color 0.3s ease;
}

a.zola-anchor:hover::before {
  content: "# ";
  position: relative;
  color: $base06;
}

ul, ol, {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 20px
}

ul li::marker {
  content: "- ";
}

a {
  color: $base0D;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: $base0E;
  text-decoration: underline;
}

pre {
  padding: 1rem;
  border-radius: 20px;
  white-space: pre;
  overflow-x: auto;
}

pre code {
  padding-left: 0;
}

code {
  background-color: $base00;
  border-radius: 5px;
  padding: 0.0em 0.3em;
  font-family: "JetBrains Mono", monospace;
}

code span {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  word-wrap: normal;
}

img {
  width: 100%;
}

.rss-feed {
  text-align: center;
  margin:auto;
}

p.rss-feed a {
  color: $base0A;
  font-weight: bold;
}
