@import "./base16/gruvbox-dark-medium.scss";
@import "./badges.scss";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: $base01;
}

* {
  color: $base05;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5em;
  font-family: "Rubrik", sans-serif;
}

header {
  display: flex;
}

header a, header a:hover{
  text-decoration: none;
}

nav {
  display: flex;
  margin-left: auto;
}

nav li {
  align-self: center;
  list-style-type: none;
  padding-left: 10px;
}

nav a.previous-page {
  margin-left: auto;
}

nav a.next-page {
  margin-right: auto;
}

nav.page-nav {
  margin: none;
}

h1.site_name, h1.nav_button {
  margin: 7px 0px 0px 0px;
  color: $base0E;
  transition: color 0.2s ease;
}

h1.site_name:hover, h1.nav_button:hover {
  color: $base0D;
}

body {
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px 10px 0px;
  color: $base06;
  text-align: start;
}

h1 { font-size: 1.75rem;}
h2 { font-size: 1.50rem;}
h3 { font-size: 1.25rem;}
h4 { font-size: 1.00rem;}
h5 { font-size: 0.75rem;}
h6 { font-size: 0.50rem;}

a.zola-anchor {
  margin-right: 0em;
  position: relative;
  color: $base06;
  text-decoration: none;
}

a.zola-anchor:hover {
  color: inherit;
  text-decoration: inherit;
}

a.zola-anchor::before {
  position: absolute;
  right: 100%;
  margin-right: 0.2em;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  transition: color 0.3s ease;
}


h1 > a.zola-anchor::before { content: "# "; }
h2 > a.zola-anchor::before { content: "## "; }
h3 > a.zola-anchor::before { content: "### "; }
h4 > a.zola-anchor::before { content: "#### "; }
h5 > a.zola-anchor::before { content: "##### "; }
h6 > a.zola-anchor::before { content: "###### "; }

a.zola-anchor:hover::before {
  color: $base06;
}

ul, ol, {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 20px
}

ul li::marker {
  content: "- ";
}

a {
  color: $base0D;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: $base0E;
  text-decoration: underline;
}

pre {
  padding: 1rem;
  border-radius: 20px;
  white-space: pre;
  overflow-x: auto;
}

pre code {
  padding-left: 0;
}

code {
  background-color: $base00;
  border-radius: 5px;
  padding: 0.0em 0.3em;
  font-family: "JetBrains Mono", monospace;
}

code span {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  word-wrap: normal;
}

img {
  width: 100%;
  border-radius: 20px;
}

.rss-feed {
  text-align: center;
  margin:auto;
}

p.rss-feed a {
  color: $base0A;
  font-weight: bold;
}

blockquote {
  border-left: $base0A 2px
}
blockquote {
  background: $base00;
  border-left: 5px solid $base02;
  margin: 0em 0px;
  padding: 10px 1em;
  quotes: "\201C""\201D""\2018""\2019";
}
