---
---
@import "mocha";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$main_font: 'Courier Prime', 'Courier New', Courier, monospace;

html {
  background-color: $mantle;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  scrollbar-color: $lavender transparent;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

html, body {
  overflow: hidden;
  padding: 0;
  height: 100vh;
}

body {
  font-family: $main_font;
}

div.main,
div.sidebar,
div.header,
div.footer {
  border: 2pt solid $lavender;
  background-color: $base;
  border-radius: 10px;
}

body {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  margin: 10px 0px;
  height: 50px;
  flex-shrink: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 10px;
  overflow: hidden;
  flex-grow: 1;
}

div.main {
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;;
  height: inherit;
}


a:link,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $green;
  transition: color 500ms;
}

.sidebar {
}

a.button,
.top-bar-link,
.button {
  color: $text;
  border: 2px solid;
  border-color: $lavender;
  background-color: $base;
  border-radius: 10px;
  margin: 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

a.button:hover,
.button:hover,
a.current-page,
.current-page,
.top-bar-link:hover {
  background-color: $surface0;
  border-color: $green;
  color: $green;
  transition:
    color 500ms,
    background-color 500ms,
    border-color 500ms
  ;
}

.header {
  overflow: hidden;
}

#top-bar-container {
display: flex;
flex-direction: row;
margin: auto;
height: 50px;
position: abosloute;
top: 50%
}

#name {
  font-size: 40px;
  line-height: 40px;
  color: $lavender;
  margin: auto 0px auto 10px;
}

#pronouns {
  margin-top: 3px;
  font-size: 15px;
  color: $lavender;
  margin-left: 5px;
}

#top-bar-links {
  margin: auto;
}

.top-bar-link {
  display: inline;
  padding: 3px;
}

#footer-text {
  text-align: center;
}

p,
ul,
li,
.button {
  color: $text;
}

img {
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
  display:block;
  width: 50%;
  border-radius: 10px;
}

h1 {
  color: $lavender;
  font-family: $main_font;
}
