---
---
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "gruvbox-code";

$bg0: #282828;
$bg1: #3c3836;

$fg: #ebdbb2;

$red: #cc241d;
$green: #98971a;
$yellow: #d799921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;

body {
  background-color: $bg0;
  color: $fg;
  font-family: 'Rubik', sans-serif;
}

.content {
  background-color: $bg1;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  font-size: 12pt;
  border-radius: 20pt
}

hr {
  color: $green;
  background-color: $green;
  border-radius: 10px;
  height: 3pt
}

a:link {
  color: $blue
}

a:visited {
  color: $purple
}

img {
  width: 100%;
}

.badges img {
  width: auto !important;
  image-rendering: pixelated;
}

video {
  width: 100%
}

h1 {
  margin: 0px 0px 10px 0px;
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

#name {
  color: $purple;
  font-size: 24pt;
  text-decoration: none;
  font-weight: bold;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav a.button {
  color: $blue;
  text-decoration: none;
  font-weight: bold
}
