@import "{{ site.theme }}";
html {
  background: linear-gradient(to left,#866994, #9b57d3);
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #a371b3;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(60, 4, 124);
}
h1 {
  text-align: center;
  color: rgb(255, 171, 60);
  text-shadow:3px 3px 0px  rgb(143, 96, 35);
}

li,
p {
  color: rgb(27, 0, 25);
}
