<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>skoove's site | {{ page.title | downcase }}</title>
  <link rel="stylesheet" href="{{ '/assets/sass/main.css' | relative_url }}">

  <!-- mathjax thigs -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['$$', '$$']]
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "b81e27d94db4425f9219aed9a4e2745a"}'></script><!-- End Cloudflare Web Analytics -->
</head>

<body>
  <div class="content">
    <div class="header">
      {% include header.html %}
    </div>
    <div class="main">
      {{ content }}
    </div>
    <div class="footer">
      {% include footer.html %}
    </div>
  </div>
</body>

</html>